<<<<<<< HEAD
* {
=======
*{
>>>>>>> ce21a02716249f0d3d4e6d17324d827da0ab8777
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin: 30px;
}
=======
>>>>>>> ce21a02716249f0d3d4e6d17324d827da0ab8777
