*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin: 30px;
}

.FirstLine {
    height: 45vh;
    background-image: url(./photo/inner_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 170px;
    padding-top: 20px;
}

.beside {
    display: flex;
}

